<div class="carrossel-container">
    <div class="carrossel-slide">
        <img src="../assets/imagens/carrossel1.png" alt="Banner evento plante sua árvore" class="carrossel-imagem active">
        <img src="../assets/imagens/carrossel2.png" alt="Banner evento trilha pelo cedro" class="carrossel-imagem">
        <img src="../assets/imagens/carrossel3.png" alt="Banner campanha de plantação de árvores" class="carrossel-imagem">
        <img src="../assets/imagens/carrossel4.png" alt="Banner venha ver o pôr do sol" class="carrossel-imagem">
    </div>
    <button class="carrossel-btn prev-btn">&#10094;</button>
    <button class="carrossel-btn next-btn">&#10095;</button>
</div>