<footer class="site-footer">
    <div class="footer-top">
        
        <div class="footer-coluna">
            <h3>Contate-nos</h3>
            <ul>
                <li><strong>CNPJ:</strong> 34.411.187/0001-38</li>
                <li><strong>Telefone:</strong> (88) 9.9920-4550</li>
                <li><strong>E-mail:</strong> <a href="mailto:amma@quixada.ce.gov.br">amma@quixada.ce.gov.br</a></li>
            </ul>
        </div>
        
        <div class="footer-coluna">
            <h3>Horários</h3>
            <ul>
                <li><strong>Seg a Qui:</strong><br>07:30h às 11:30h<br>13:30h às 17:30h</li>
                <li><strong>Sextas:</strong><br>07:30h às 13:30h</li>
            </ul>
        </div>

        <div class="footer-coluna">
            <h3>Endereço</h3>
            <ul>
                <li>Rua Tabelião Enéas, Nº 649</li>
                <li>Centro - Quixadá/CE</li>
                <li><strong>CEP:</strong> 63.900-169</li>
                <li><small>Paço Municipal da Prefeitura de Quixadá</small></li>
            </ul>
        </div>

        <div class="footer-form-coluna">
            <h3>Receba Notícias no seu e-mail</h3>
            <form class="footer-form">
                <input type="text" placeholder="Primeiro nome" required>
                <input type="email" placeholder="E-mail" required>
                <button type="submit" class="btn-cadastrar">Cadastrar</button>
            </form>
            <p class="form-aviso">*Enviaremos notificações de eventos</p>
        </div>
    </div>

    <hr class="footer-linha-horizontal">

    <div class="footer-bottom">
        <div class="footer-redes">

            <a href="https://www.facebook.com/prefeituradequixadace/" target="_blank" class="rede-icone">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
    
            <a href="https://www.instagram.com/prefeituradequixadace/" target="_blank" class="rede-icone">
                <i class="fa-brands fa-instagram"></i>
            </a>
        
            <a href="https://wa.me/5588999204550" target="_blank" class="rede-icone">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        
            <a href="https://www.youtube.com/@prefeituradequixada900" target="_blank" class="rede-icone">
                <i class="fa-brands fa-youtube"></i>
            </a>
            
        </div>

        <div class="footer-logo">
            <img src="../assets/imagens/logo.png" alt="Logo Arborizando" class="img-logo-footer">
        </div>
    </div> 

</footer>